:root {
    --dark-blue-color: #083144;
    --blue-color: #174b62;
    --ligth-blue-color:#30a0ff;
    --submit-color:#00A884;
    --font:'Teko', sans-serif;
    --font-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--blue-color);
    margin: 0;
    font-family: var(--font);
    font-size: 16px;
    color: var(--grey-color-root);
    text-decoration: none;
}