.signUpContainer {
  width: 70%;
  height: fit-content;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family-root);
  color: var(--blue-color-root);
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.inputsContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.pictureContainer {
  padding: 50px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
  
}

@media(min-width:769px) {}