.noReportsContainer {
    width: 325px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.dog {
    width: 215px;
    height: 250px;
    margin-bottom: 10px;
}
