.subTitle {
    margin: 0 auto;
    padding: 5px;
    font-family: var(--font-family-root);
    font-size: 24px;
    font-weight: bold;
    color: var(--font-color);
    word-wrap: break-word;
    text-align: center;
}