.subTitle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: var(--font-family-root);
    font-size: 24px;
    font-weight: bold;
    color:#fff;
    word-wrap: break-word;
    text-align: center;
}
