.welcomeContainer {
    width: 325px;
    height: 505px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}













