
/*Inputs de formularios*/
.inputForm {
    background-color: var(--dark-blue-color);
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid var(--light-blue-color);
    outline: none;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 18px;
    color: var(--font-color);
    caret-color: var(--light-blue-color);
}

.inputForm[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.container {
    position: relative;
    width: 300px;
}

.input {
    background-color: var(--dark-blue-color);
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid var(--light-blue-color);
    outline: none;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 18px;
    color: var(--font-color);
    ;
    caret-color: var(--light-blue-color);
}

.form {
    padding-right: 35px;
}

.search {
    padding-right: 70px;
}

.icon {
    width: 25px;
    height: 25px;
    color: var(--light-blue-color);
}

.iconForm {
    position: absolute;
    top: 3px;
    right: 6px;
}

.cursor {
    cursor: pointer;
}

.text {
    font-family: var(--font);
    font-size: 18px;
    color: var(--light-blue-color);
    margin: 5px 0;
    position: absolute;
    bottom: 2px;
    right: 10px;
}

input:focus {
    border: 1px solid var(--light-blue-color);
}

input:valid:focus {
    border: 1px solid var(--submit-color);
}

input:invalid {
    border: 1px solid var(--delete-color);
}


input:invalid:focus {
    border: 1px solid var(--delete-color);
}