.myDataContainer {
    background-color: var(--dark-blue-color);
    opacity: 0.9;
    width: 325px;
    height: 510px;
    padding: 0 10px 10px;
    border-radius: 20px;
    box-shadow: -9px 9px 18px #031a25, 9px -9px 18px #05021f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 5px;
    position: relative;
}

.dataUser {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.iconUser {
    width: 160px;
    height: 160px;
    color: var(--ligth-blue-color)
}

.logoutUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.link {
    font-size: 18px;
    color: var(--font-color);
    margin: 5px 0;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.iconClose {
    width: 20px;
    height: 18px;
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 73px;
}