.card {
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
 
}


.card:hover{
    transform: scale(1.5);
}

.picture{
width: 190px;
height: 150px;
border-radius: 8px;

}


.name{
font-size: 24px;
margin:0;
}

.zone{
    font-size: 12px;
    margin:0;
}