.petCardContainer {
    width: 335px;
    height: 270px;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.cardContainer {
    background-color: var(--dark-blue-color);
    width: 325px;
    height: 260px;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(24px);
    outline: 2px solid var(--dark-blue-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
    overflow: hidden;
}

.buttonContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.reportCard {
    position: absolute;
    bottom: 191px;
    right: 191px;
}

.blobBounce {
    width: 285px;
    height: 220px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    filter: blur(12px);
    animation: blob-bounce 5s infinite linear;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.notFoundBlob {
    background-color: var(--light-blue-color);
}

.foundBlob {
    background-color: var(--submit-color);
}
