.loginContainer {
    background-color: var(--dark-blue-color);
    opacity: 0.9;
    width: 325px;
    height: 525px;
    padding: 0 10px 10px;
    border-radius: 20px;
    box-shadow: -9px 9px 18px #031a25, 9px -9px 18px #05021f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 5px;
 position: relative;
}

.icon {
    width: 160px;
    height: 160px;
    color: var(--ligth-blue-color)
}

.link{
    font-size: 18px;
    color: var(--font-color);
    margin:5px 0;
    text-decoration:none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
