/*Buttons Card*/
.buttonCard {
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 0px var(--border-primary-color);
    width: 92px;
    height: 24px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    ;
    font-size: 18px;
    font-weight: var(--weight-medium);
    cursor: pointer;
    transition-duration: .3s;
    position: relative;
}

.iconCard {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    ;
    transition-duration: .3s;
    position: absolute;
    right: 0;
    display: none
}

.buttonCard:hover {
    color: transparent;
}

.buttonCard:hover .iconCard {
    right: 43%;
    display: block;
    border: none;
    transition-duration: .3s;
}

.buttonCard:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px var(--border-primary-color);
}

/*Button*/
.button {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    ;
    font-size: 18px;
    font-weight: var(--weight-medium);
    cursor: pointer;
    transition-duration: .3s;
    position: relative;
}

.primary {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 0px var(--border-primary-color);
}

.secondary {
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 0px var(--border-secondary-color);
}

.delete {
    background-color: #EB6372;
    box-shadow: 5px 5px 0px var(--border-delete-color);
}

.submit {
    background-color: #00A884;
    box-shadow: 5px 5px 0px var(--border-submit-color);
}