.title {
    margin: 0 auto;
    padding: 5px;
    font-family: var(--font);
    font-size: 48px;
    font-weight:var(--weight-bold);
    color:var(--font-color);
    word-wrap: break-word;
    text-align: center;
}
