.title {
    margin: 0 auto;
    padding: 20px;
    font-family: var(--font-family-root);
    font-size: 48px;
    font-weight: bold;
    color:#fff;
    word-wrap: break-word;
    text-align: center;
}
