.resetcontainer{
    background-color: brown;
}

.maincont{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family-root);
    color: var(--blue-color-root);
    word-wrap: break-word;
}